.button {
    background-color: $color-secondary;
    border: 0;
    box-shadow: inset 0 -3px 0 0 $color-secondary-dark;
    border-radius: $border-radius;
    display: inline-block;
    color: $color-white;
    cursor: pointer;
    font-weight: bold;
    font-size: .85rem;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
}

.button--ghost {
    background: transparent;
    border: 1px solid $color-border;
    box-shadow: none;

    .button__text {
        color: $color-text-subtle;
    }
}

.sidebar .button {
    width: 100%;
}

.button__text {
    color: $color-white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.button--disabled {
    opacity: .5;
    cursor: default;
}
