/**
* Sidebar
**/

.sidebar {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    overflow: auto;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    width: 22rem;

    .identity {
        margin-top: 2rem;
    }
}
