/**
* Base
**/

@import 'base/settings';
@import 'base/colours';
@import 'base/base';
@import 'base/type';

/**
* Objects
**/

@import 'objects/button';
@import 'objects/form';
@import 'objects/iframe';
@import 'objects/container';

/**
* Components
**/

@import 'components/sidebar';
@import 'components/content';
@import 'components/navigation';
@import 'components/status';
@import 'components/error';

/**
* Visibility
**/

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.code {
    background-color: $color-grey-light;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    color: $color-code;
    display: inline-block;
    font-size: .75rem;
    margin: .1rem 0;
    padding: 0 .25rem;
}

/**
* Validation
**/

.form__error {
    background-color: mix($color-white, $color-red, 85%);
    border-radius: $border-radius;
    display: none;
    font-size: .75rem;
    margin-top: .5rem;
    padding: .75rem;
}

.form__error--active {
    display: block;
}


